// src/styles/_main.scss
@use 'variables';

body {
    background: rgb(15, 7, 20); // Use radial gradient for background
    background-image: url('../assets/CE-bg.jpeg');
    color: $tea-rose-red; // Bright text color for readability
    font-family: $font-family; // Keep the retro font
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.game-container {
    background-color: rgba(46, 41, 78, 0.8); // Semi-transparent dark background
    border-radius: $border-radius;
    padding: $padding;
    box-shadow: 0 0 40px rgba(170, 12, 228, 0.5);
    text-align: center;
    width: 40vw;
    max-width: 1600px;
    // position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        font-size: 2.5rem;
        margin-bottom: $margin;
        text-shadow: 0 0 10px $tea-rose-red; // Bright shadow for title
    }

    h2 {
        font-size: 1.5rem;
        margin: $margin 0;
    }

    h3 {
        font-size: 1.2rem;
        margin: $margin 0;
        color: $lilac; // Light color for scenario text
    }

    .choices {
        display: flex;
        flex-direction: column;
        gap: $margin;
    }

    button {
        background-color: $button-color; // Button color
        color: $tea-rose-red; // Text color for buttons
        border: none;
        border-radius: $border-radius;
        padding: $padding;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Button shadow for depth

        &:hover {
            background-color: $button-hover-color; // Darken on hover
        }
    }

    .feedback {
        color: $tea-rose-red; // Feedback message color
        font-size: 2rem;
        text-shadow: 0 0 5px $lilac; // Shadow for feedback
        height: 2rem; // Set a fixed height to maintain layout
        margin-top: -2rem;
    }
    
    .invisible-feedback {
        visibility: hidden; // Make the feedback invisible
        height: 2rem; // Set a fixed height to maintain layout
        margin-top: -2rem;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.2rem;
        }

        button {
            font-size: 1rem;
            padding: 12px;
        }
    }
}