@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
body {
  background: rgb(15, 7, 20);
  background-image: url("../assets/CE-bg.jpeg");
  color: #e8c1c5;
  font-family: "Agdasima", sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.game-container {
  background-color: rgba(46, 41, 78, 0.8);
  border-radius: 8px;
  padding: 16px;
  -webkit-box-shadow: 0 0 40px rgba(170, 12, 228, 0.5);
          box-shadow: 0 0 40px rgba(170, 12, 228, 0.5);
  text-align: center;
  width: 40vw;
  max-width: 1600px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game-container h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
  text-shadow: 0 0 10px #e8c1c5;
}
.game-container h2 {
  font-size: 1.5rem;
  margin: 16px 0;
}
.game-container h3 {
  font-size: 1.2rem;
  margin: 16px 0;
  color: #d499b9;
}
.game-container .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.game-container button {
  background-color: #9055a2;
  color: #e8c1c5;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.game-container button:hover {
  background-color: #724381;
}
.game-container .feedback {
  color: #e8c1c5;
  font-size: 2rem;
  text-shadow: 0 0 5px #d499b9;
  height: 2rem;
  margin-top: -2rem;
}
.game-container .invisible-feedback {
  visibility: hidden;
  height: 2rem;
  margin-top: -2rem;
}
@media (max-width: 768px) {
  .game-container h1 {
    font-size: 2rem;
  }
  .game-container h2 {
    font-size: 1.2rem;
  }
  .game-container button {
    font-size: 1rem;
    padding: 12px;
  }
}

.welcome-msg {
  background-color: rgba(46, 41, 78, 0.8);
  border-radius: 8px;
  padding: 16px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 600px;
  position: relative;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 40px rgb(65, 56, 127);
          box-shadow: 0 0 40px rgb(65, 56, 127);
}
.welcome-msg h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
  text-shadow: 0 0 10px #d499b9;
}
.welcome-msg h2 {
  font-size: 3rem;
}
.welcome-msg p {
  font-size: 2rem;
  margin: 16px 0;
  color: #d499b9;
  margin-top: -20px;
}
.welcome-msg button {
  background-color: #9055a2;
  color: #e8c1c5;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.welcome-msg button:hover {
  background-color: #724381;
}

.game-over {
  text-align: center;
  color: #e8c1c5;
  background-color: rgba(46, 41, 78, 0.8);
  border-radius: 8px;
  padding: 16px;
  -webkit-box-shadow: 0 0 40px rgba(170, 12, 228, 0.5);
          box-shadow: 0 0 40px rgba(170, 12, 228, 0.5);
  text-align: center;
  width: 100%;
  max-width: 1600px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game-over h2 {
  font-size: 2rem;
  margin-bottom: 16px;
  text-shadow: 0 0 10px #d499b9;
}
.game-over button {
  background-color: #9055a2;
  color: #e8c1c5;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.game-over button:hover {
  background-color: #724381;
}

.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: white;
  font-size: 2rem;
}
.loading-screen .loading-emoji {
  font-size: 5rem;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */